* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.fondo {
    background-color: rgb(0, 0, 0);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    width: 816px;
    min-height: 1020px;
    display: flex;
    flex-wrap: nowrap;
}

.columna {
    padding: 20px;
}

.izquierda {
    width: 35%;
    background-color: rgb(139, 179, 214);
}

.derecha {
    width: 65%;
    background-color: #beb7b7;
}

.foto {
    text-align: center;
    margin-bottom: 20px;
}

.foto img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid white;
    object-fit: cover;
}

.titulo {
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}

.titulo-derecha {
    font-size: 18px;
    border-bottom: 3px solid rgb(42, 50, 122);
    padding-bottom: 1px;
    margin-bottom: 10px;
}
.titulo-{
    font-size: 18px;
    font-weight: 700;
}

.header {
    background-color: rgb(42, 50, 122);
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 28px;
}

.header h2 {
    margin: 5px 0 0;
    font-size: 16px;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

section {
    margin-bottom: 20px;
}

.bloque {
    margin-bottom: 15px;
}
.oculto{
    display: none;
}
.MOSTRAR{
    cursor: pointer;
}
.contenido{
    transition:all 0.3s ease;
}
#btn{
    position: fixed;
    top: 15px;
    right: 15px;
    padding: 12px 20px;
    font-size: 600;
    letter-spacing: 2px;
    background-color: rgb(42, 50, 122);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 1s ease;
    z-index: 9999;
}
section, .bloque {
    page-break-inside: avoid;
}
@media print {
    #btn {
        display: none;
    }
}



